<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title data-i18n="pageTitle">Retro Movie Hub</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="Header_first_block">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo của Retro Movie Hub" data-i18n-alt="headerLogoAlt">
        </div>

        <div class="Header_second_block">
            <i class="fa-solid fa-magnifying-glass"></i> <input type="text" id="movie" data-i18n-placeholder="searchPlaceholder" placeholder="Nhập tên phim...">
        </div>

        <div class="Header_third_block">
            <ul>
                <li><a href="https://phimhay.co.in/danh-sach/phim-chieu-rap/" data-i18n="movieTheater">Phim Chiếu Rạp</a></li>
                <li><a href="https://phimhay.co.in/danh-sach/phim-bo/" data-i18n="series">Phim Bộ</a></li>
                <li><a href="https://phimhay.co.in/danh-sach/phim-le/" data-i18n="movieSingle">Phim Lẻ</a></li>
                <li><div class="Category"><span data-i18n="genre">Thể Loại</span> <i class="fa-solid fa-angle-down"></i>
                    <ul class="Category-dropdown">
                        <li><a href="https://phimhay.co.in/danh-sach/phim-hanh-dong/" data-i18n="genreAction">Hành Động</a></li>
                        <li><a href="https://phimhay.co.in/danh-sach/phim-kinh-di/" data-i18n="genreHorror">Kinh Dị</a></li>
                        <li><a href="https://phimhay.co.in/danh-sach/phim-tinh-cam/" data-i18n="genreRomance">Tình Cảm</a></li>
                        <li><a href="https://phimhay.co.in/danh-sach/phim-vien-tuong/" data-i18n="genreSciFi">Viễn Tưởng</a></li>
                        <li><a href="https://phimhay.co.in/danh-sach/phim-hoat-hinh/" data-i18n="genreAnimation">Hoạt Hình</a></li>
                    </ul>
                    </div>
                </li>
                <li><span data-i18n="country">Quốc Gia</span> <i class="fa-solid fa-angle-down"></i></li>
                <li data-i18n="login">Đăng nhập</li>
                <li><div class="language-selector">
                    <div class="current-lang" id="display-lang">Đang tải...</div>
                    <ul class="lang-dropdown">
                        <li onclick="setLanguage('en')" data-i18n="langEnglish">English</li>
                        <li onclick="setLanguage('ko')" data-i18n="langKorean">Tiếng Hàn</li>
                        <li onclick="setLanguage('ja')" data-i18n="langJapanese">Tiếng Nhật</li>
                        <li onclick="setLanguage('zh')" data-i18n="langChinese">Tiếng Trung</li>
                        <li onclick="setLanguage('vi')" data-i18n="langVietnamese">Tiếng Việt</li>
                    </ul>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <section class="result-section">
        <p id="genres"></p>

        <div id="result" class="movie-container"></div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="movie-section">
        <h2>Phim mới nhất</h2>
    
        <div class="movie-container" id="movieContainer">
            <!-- JS render ở đây -->
        </div>
    </div>
</body>
</html>